doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//bootswatch.com/cerulean/bootstrap.min.css')
  body
    include ./includes/navbar.pug
    block content
    hr
    footer
      .container
        copyright &copy; 2017 CS3750 Project 4