doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//bootswatch.com/cerulean/bootstrap.min.css')
  body
    .container
      include ./includes/navbar.pug
      block content
      hr